@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Raporlar";
    var toplam = (int)(ViewBag.Toplam ?? 0);
	var rq = ViewContext.HttpContext.Request;   
}
<div class="content-card">
    <div class="content-card-header d-flex justify-content-between align-items-center">
        <div>Talep Raporları</div>
        <a class="btn btn-outline-primary"
           href="@Url.Action("ExportCsv", "Reports", new { from = rq.Query["from"], to = rq.Query["to"] })">
            CSV Al
        </a>
    </div>

    <form method="get" class="p-3 border-bottom">
        <div class="form-row">
            <div class="col-md-3"><input type="date" name="from" value="@rq.Query["from"]" class="form-control" /></div>
            <div class="col-md-3"><input type="date" name="to" value="@rq.Query["to"]" class="form-control" /></div>
            <div class="col-md-2"><button class="btn btn-outline-secondary btn-block">Uygula</button></div>
            <div class="col-md-4 text-right align-self-center"><strong>Toplam:</strong> @toplam</div>
        </div>
    </form>

    <table class="table content-table mb-0">
        <thead><tr><th>Durum</th><th class="text-right">Adet</th></tr></thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Durum</td>
                    <td class="text-right">@x.Adet</td>
                </tr>
            }
        </tbody>
    </table>
</div>
